body{
    background-color: cornsilk;
}
.box{
    width:30%;
    background:#FFF;
    margin:10%;
    padding: 2%;
}

.effect{
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}
.flex{
    display: flex;
}

.title{
    display: flex;
    font-size: 6rem;
    font-weight: bolder;
    align-items: center;
}
.nav-img{
    height: 40px;
    margin-right: 1.5rem;
    border-radius: 50%;
}

.usr-img{
    width: 70%;
}

.post-container{
    margin-top: 2rem;
    border-radius: 25px;
    padding-top: 8px;
    background-color: #FFFFFF;
    /*border: #777777 solid 1px;*/
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding-bottom: 8px;
}

.post-img{
    height: 60px;
    border-radius: 50%;
}

.hr{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}